<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Helmes Bootcamp</title>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/site.css" rel="stylesheet"/>

    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="/js/site.js"></script>
</head>
