<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title"><a href="/">Helmes Bootcamp sample application</a></p>
        </div>
        <div class="float-right">

            <nav>
                <ul id="menu">
                    <li><a href="/reservation">Reservations</a></li>
                    <li><a href="/restaurants">Reservations</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>