{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Contact</h1>
        <h2>Bootcamp contacts</h2>
    </hgroup>
    <section>
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:bootcamp@helmes.ee">bootcamp@helmes.ee</a></span>
        </p>
    </section>
    <section>
        <header>
            <h3>Address</h3>
        </header>
        <p>
            Lõõtsa 6B, Tallinn, 11415, Estonia
        </p>
    </section>
</section>
{% endblock %}